<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189748835572-mb8d9qloht00l70adr0ue64ml9g4ivor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189748835572-mb8d9qloht00l70adr0ue64ml9g4ivor</string>
	<key>API_KEY</key>
	<string>AIzaSyCCKzvboK7y_bGJSZoNocr1Jd3Xr2ZcMKw</string>
	<key>GCM_SENDER_ID</key>
	<string>189748835572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kbtu.kz.ExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-3c9b2</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-3c9b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189748835572:ios:c46058f37c8d83c3bddaa1</string>
</dict>
</plist>